/*Universal Styles*/

:root {
    --visual-green: #95EA8D;
    --emens-green:#1b5929; 
    --emens-grey: hsla(0, 0%, 85%, 1);
    --nice-green: #a6c2ac;
    --nice-grey: #8a8a8a;
    --font-inter: 'Inter', sans-serif;
    --10-px: 0.625rem;
    --14-px: 0.875rem;
    --17-px: 1.0625rem;
    --19-px: 1.1875rem;
    --20-px: 1.25rem;
    --22-px: 1.375rem;
    --30-px: 1.875rem;
    --32-px: 2rem;
    --37-px: 2.3125rem;
    --40-px: 2.5rem;
    --50-px: 3.125rem;
    --60-px: 3.75rem;
    --72-px: 4.5rem;
    --header-height: 5rem;
    --logo-font-size: 2.0125rem;
}

html {
    font-size: 2.5vh;
    box-sizing: border-box;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: var(--font-inter);
    color: white;
    background-color: var(--emens-green);
    font-weight: 400;
}

main, footer {
position: relative;
   top: var(--header-height);
}

.left {
    float: left;
}

.right {
    float: right;
}

.image-container {
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

#blackbutton{
    font-size: var(--17-px);
    font-weight: 600;
    background-color: black;
    color: white;
    border-radius: var(--10-px);
    text-align: center;
    padding: 1.4vh 1.98%;
    transition: all 250ms ease;
    border: 2px solid black;
    width: 80%;
}

#blackbutton:hover{
    background-color: white;
    color: black;
}

#whitebutton{
    font-size: var(--17-px);
    font-weight: 600;
    background-color: white;
    color: var(--emens-green);
    border-radius: var(--10-px);
    text-align: center;
    padding: 1.4vh 1.98%;
    width: 80%;
    transition: all 250ms ease;
    border: 2px solid white;
}

#whitebutton:hover{
    background-color: var(--emens-green);
    color: white;
}

#greenbutton{
    font-size: var(--17-px);
    font-weight: 600;
    background-color: var(--emens-green);
    color: white;
    border-radius: var(--10-px);
    text-align: center;
    padding: 1.4vh 1.98%;
    width: 80%;
    transition: all 250ms ease;
    border: 2px solid var(--emens-green);
}

#greenbutton:hover{
    background-color: white;
    color: var(--emens-green);
}

#nobutton{
    font-size: var(--17-px);
    font-weight: 600;
    background-color: white;
    color: var(--emens-green);
    border-radius: var(--10-px);
    text-align: center;
    padding: 1.4vh 1.98%;
    width: 80%;
    transition: all 250ms ease;
}

#nobutton:hover{
    background-color: var(--emens-grey);
    color: var(--emens-green);
}

#projectbutton{
    font-size: var(--17-px);
    font-weight: 600;
    background-color: var(--nice-green);
    color: var(--emens-green);
    border-radius: var(--10-px);
    text-align: center;
    padding: 1.4vh 1.98%;
    width: 80%;
    transition: all 250ms ease;
    border: 2px solid var(--emens-green);
}

#projectbutton:hover{
    background-color: white;
    color: var(--emens-green);
}

p {
    font-size: var(--20-px);
    color: var(--emens-green);
}

h1 {
    font-size: var(--60-px); /* Alternate size 3.125rem */
    font-weight: 600;
    margin-bottom: 19px;
}

h2 {
    font-size: var(--37-px); /* Alternate size 2.625rem */
    font-weight: 600;
    color: var(--emens-green);
}

h3 {
    font-size: var(--22-px);
    font-weight: 400;
    color: var(--nice-green);
}

h4 {  /* card heading */
    font-size: var(--14-px);
    font-weight: 400; /* Alternate size 1.75rem */
    color: var(--nice-green);
}

h5 {  /* above heading */
    font-size: var(--32-px);
    font-weight: 600;
    color: var(--emens-green);
}

h6 {
    font-size: var(--20-px);
    color: white;
    font-weight: 600;
}


a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

a:hover {
    color: var(--visual-green);
    font-weight: 500;
}

#contact {
    font-weight: 700;
}

/*header*/
header {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: var(--header-height);
    font-size: var(--17-px);
    line-height: normal;
    overflow: hidden;
    background-color: var(--emens-green);
}

.navbar {
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header .left {
    margin-top: 2.75vh;
    font-size: var(--logo-font-size);
    font-weight: 600;
    margin-left: 3.64%;
}

header .right {
    margin-top: 4.28vh;
    margin-right: 5.16%;
}

header .right #whitebutton {
    padding: 1.4vh 22.94%;
}

header li {
    list-style: none;
    display: inline-block;
    margin-left: 50px;
}

header .left a:hover {
    color: white;
    font-weight: 600;
}

header span {
    font-weight: 500;
    margin-left: 13px;
}

.navbar img {
    height: 4.5vh;
    width: auto;
    vertical-align: middle;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media(max-width: 935px) {
    header {
        border-bottom: 1px solid white;
        height: 4.5rem;
    }

    .navbar img {
        height: 3vh;
    }

    header span {
        font-size: smaller;
    }

    .hamburger {
        display: block;
        margin-right: 5.16%;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

   .nav-menu {
        position: fixed;
        left: -100%;
        top: 4.5rem;
        gap: 0;
        flex-direction: column;
        background-color: var(--emens-green);
        width: 100%;
        transition: 0.3s;
    }

    .nav-item {
        margin: 1.69vh 0;
        margin-right: 60%;
    }

    .nav-menu.active {
        left: 0px;
    }

    .nav-link { 
        text-align: left;
    }
}

/*landing*/
#landing {
    padding-top: 10.18vh;
    background-color: var(--emens-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#landing .content-header {
    text-align: center;
}

#landing .content-header h1 {
    padding: 0.51vh 0px;
}

#landing .content {
    padding-top: 9.88vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#landing .content .plan {
    background-color: white;
    border: 2px solid var(--emens-green);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 23.68%;
    height: auto;
    padding: 0 3.31%;
    z-index: 1;
}

#landing .content .plan .plan-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4.18vh;
    padding-bottom: 2.34vh;
}

#landing .content .plan .plan-header h2 {
    padding-bottom: 0.71vh;
}

#landing .content .plan .plan-header a {
    margin-top: 2.24vh;
}

#landing .content .plan .plan-header h5 {
    padding-bottom: 2.44vh;
    text-align: center;
}

#landing .content .plan p {
    border-bottom: 1px solid var(--nice-green);
    padding: 1.53vh 0px;
}

#landing .content .plan #top {
    border-top: 1px solid var(--nice-green);
}

#landing .content .plan #bottom {
    border-bottom: none;
    margin-bottom: 12.22vh;
}

#landing .content .plan .logo {
    width: 11.73%;
    height: auto;
    padding-right: 3.91%;
    vertical-align: middle;
}

#landing .content .plan img {
    width: 4.19%;
    height: auto;
    padding-right: 3.35%;
}

#landing .content #enterprise h2,
#landing .content #enterprise h5,
#landing .content #enterprise p {
    color: black;
}

#landing .content #enterprise h4 {
    color: var(--nice-grey);
}

#landing .content #enterprise p {
    border-bottom: 1px solid var(--nice-grey);
}

#landing .content #enterprise #top {
    border-top: 1px solid var(--nice-grey);
}

#landing .content #enterprise #nobutton {
    color: black;
}

@media(max-width: 935px) {

    #landing {
        padding-top: 5vh;
    }

    #landing .content-header {
        text-align: left;
        padding-left: 8.5%;
    }

    #landing .content-header h1{
        font-size: 50px;
    }

    #landing .content-header h3{
        font-size: 25px;
    }

    #landing .content-header .desktop{
        display: none;
    }
    
    #landing .content {
        flex-direction: column;
    }
    
    #landing .content .plan {
        width: 80%;
        height: auto;
        margin-bottom: 5vh;
    }

    #landing .content .plan .plan-header h5 {
        font-size: 28px;
    }

    #landing .content .plan .logo {
        width: 10%;
    }

    #landing .content .plan p {
        font-size: 18px;
        text-align: center;
    }
}

/*project*/
#mobile {
    display: none;
}

#project {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 23.42vh;
}

#project .white {
    height: 38.49vh;
    background-color: white;
}

#project .content {
    background-image: url(../imagesPrice/projectBackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#project .content {
    padding-left: 11.97%;
    padding-top: 11.51vh;
    padding-bottom: 10.49vh;
}

#project .content #greenbutton {
    font-size: var(--17-px);
    font-weight: 600;
    background-color: var(--emens-green);
    color: white;
    border-radius: var(--10-px);
    text-align: center;
    padding: 1.4vh 1.98%;
    width: 80%;
    transition: all 250ms ease;
    border: 2px solid var(--emens-green);
}

#project .content #greenbutton:hover{
    background-color: var(--nice-green);
    color: var(--emens-green);
}

#project .content h2 {
    color: var(--emens-green);
    padding-top: 1.12vh;
    font-size: var(--50-px);
}

#project .content h6 {
    color: var(--emens-green);
}

#project .content h6 span {
    font-weight: 500;
    padding-bottom: 5.09vh;
}

#project .content h6 img {
    height: 3.56vh;
    width: auto;
    vertical-align: middle;
    margin-right: 0.73%;
}

#project .content p {
    color: var(--emens-green);
    width: 37.63%;
    height: auto;
    padding: 3.67vh 0px;
}

#project .content .buttons {
    padding-top: 5.09vh;
    margin-bottom: 10.49vh;
}

@media(max-width: 935px) {
    #project {
        display: none;
    }

    #mobile {
        display: block;
        position: relative;
        bottom: 23.42vh;
    }

    #mobile {
        display: flex;
        flex-direction: column;
    }
    
    #mobile .white {
        height: 28vh;
        background-color: white;
    }

    #mobile .content {
        background-image: url(../imagesCom/projectMobile.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    #mobile .content {
        padding-left: 8.5%;
        padding-top: 10vh;
        padding-bottom: 0vh;
    }
    
    #mobile .content h2 {
        color: var(--emens-green);
        padding-top: 1.12vh;
        font-size: 40px;
        width: 80%;
    }
    
    #mobile .content h6 {
        color: var(--emens-green);
        font-size: 20px;
        width: 80%;
        justify-self: baseline;
    }
    
    #mobile .content h6 span {
        font-weight: 500;
        padding-bottom: 5.09vh;
    }
    
    #mobile .content h6 img {
        height: 3.56vh;
        width: auto;
        vertical-align: middle;
        margin-right: 3%;
    }
    
    #mobile .content p {
        color: var(--emens-green);
        width: 80%;
        height: auto;
        margin-top: 40vh;
        margin-bottom: 5vh;
        font-size: 17px;
    }
    
    #mobile .content .buttons {
        padding-top: 2vh;
        margin-bottom: 10vh;
    }

    #mobile .content .buttons a{
        display: block;
        text-align: center;
        margin-top: 2vh;
    }
}

/*demo*/
#demo {
    background-color: white;
    position: relative;
    bottom: 23.42vh;
    display: flex;
    justify-content: center;
    padding-bottom: 8.25vh;
}

#demo .image {
    background-image: url(../imagesPrice/demo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    margin: 14.46vh 9.52%;
    border-radius: 10px;
}

#demo .image .content {
    padding: 9.27vh 0px;
    float: right;
    margin-right: 10%;
    width: 31.61%;
    height: auto;
}



#demo .image .content #greenbutton:hover {
    background-color: var(--nice-green);
}

#demo .image .content p {
    padding-top: 1.73vh;
    padding-bottom: 3.26vh;
}

@media(max-width: 935px) {
    #demo {
        display: none;
    }
}

/*footer*/
footer {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: -23.42vh;
    background-color: white;
    color: var(--emens-green); 
 }
 
 footer #top {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     position: relative;
     justify-items: center;
     padding-top: 14.26vh;
 }
 
 footer #top .column {
     padding-left: 14.79%;
     border-left: var(--emens-green) solid 1px;
 }
 
 footer #top .column h6 {
     font-weight: 600;
     padding-bottom: 2.24vh;
     color: var(--emens-green);
 }
 
 footer #top .column p {
     margin: 1.43vh 0px;
 }
 
 footer #top .column a {
     color: var(--emens-green);
     font-size: var(--20-px);
 }
 
 footer #top .column p :hover {
     font-weight: 500;
 }
 
 footer #top .emens {
     border-left: white solid 1px;
 }
 
 footer #top .emens p {
     font-size: var(--20-px);
     padding-top: 0.5vh;
 }
 
 footer #top .emens .languages {
     margin-top: 3.56vh;
 }

 footer #top .emens .languages a img {
    width: 20px;
    height: auto;
    padding-top: 2vh;
}

 
 footer #top .emens .logo span {
     font-weight: 600;
     font-size: 32.2px;
 }
 
 footer #top .emens img {
     width: auto;
     height: 4.5vh;
     vertical-align: middle;
     margin-right: 10px;
 }
 
 footer #top .column #tnc {
     color: var(--visual-green);
 }
 
 footer #bottom {
     position: relative;
     display: flex;
     justify-content: center;
     margin-top: 8.35vh;
     padding-bottom: 4.18vh;
 }

 @media(max-width: 935px) {
    footer {
        width: 100%;
        height: auto;
        background-color: white;
        color: var(--emens-green); 
     }
     
     footer #top {
         display: flex;
         flex-direction: column;
         padding-top: 10vh;
     }
     
     footer #top .column {
         padding-left: 8.5%;
         border-left: var(--emens-green) solid 1px;
     }
     
     footer #top .column h6 {
        margin-top: 5vh; 
        font-size: smaller;
     }

     footer #top .column a {
        font-size: smaller; 
     }

     footer #top .languages p {
        font-size: smaller;
     }
}