/*Universal Styles*/

:root {
    --visual-green: #95EA8D;
    --emens-green:#1b5929; 
    --emens-grey: hsla(0, 0%, 85%, 1);
    --nice-green: #a6c2ac;
    --dark-grey: #8a8a8a;
    --font-inter: 'Inter', sans-serif;
    --10-px: 0.625rem;
    --17-px: 1.0625rem;
    --18-px: 1.125rem;
    --19-px: 1.1875rem;
    --20-px: 1.25rem;
    --22-px: 1.375rem;
    --28-px: 1.75rem;
    --32-px: 2rem;
    --40-px: 2.5rem;
    --50-px: 3.125rem;
    --60-px: 3.75rem;
    --72-px: 4.5rem;
    --150-px: 9.375rem;
    --192-px: 12rem;
    --header-height: 5rem;
    --logo-font-size: 2.0125rem;
}


html {
    font-size: 2.5vh;
    box-sizing: border-box;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: var(--font-inter);
    color: var(--emens-green);
    background-color: white;
    font-weight: 400;
}

main, footer {
position: relative;
   top: var(--header-height);
}

.left {
    float: left;
}

.right {
    float: right;
}

.image-container {
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}


#whitebutton{
    font-size: var(--17-px);
    font-weight: 600;
    background-color: white;
    color: var(--emens-green);
    border-radius: var(--10-px);
    text-align: center;
    padding: 1.4vh 1.98%;
    width: 80%;
    transition: all 250ms ease;
    border: 2px solid white;
}

#whitebutton:hover{
    background-color: var(--emens-green);
    color: white;
}

#greenbutton{
    font-size: var(--17-px);
    font-weight: 600;
    background-color: var(--emens-green);
    color: white;
    border-radius: var(--10-px);
    text-align: center;
    padding: 1.4vh 1.98%;
    width: 80%;
    transition: all 250ms ease;
    border: 2px solid white;
}

#greenbutton:hover{
    background-color: white;
    color: var(--emens-green);
}

#nobutton{
    font-size: var(--17-px);
    font-weight: 600;
    background-color: var(--emens-green);
    color: white;
    border-radius: 10px;
    border: 2px solid var(--emens-green);
    padding: 1.4vh 1.98%;
    width: 80%;
    transition: all 250ms ease;
}

#nobutton:hover{
    background-color: white;
    color: var(--emens-green);
}

#projectbutton{
    font-size: var(--17-px);
    font-weight: 600;
    background-color: var(--nice-green);
    color: var(--emens-green);
    border-radius: var(--10-px);
    text-align: center;
    padding: 1.4vh 1.98%;
    width: 80%;
    transition: all 250ms ease;
    border: 2px solid var(--emens-green);
}

#projectbutton:hover{
    background-color: white;
    color: var(--emens-green);
}

p {
    font-size: var(--20-px); 
    font-weight: 400;
}

p {
    font-weight: 300;
}

h1 {
    font-size: var(--150-px); 
}

h2 {
    font-size: var(--50-px);
    font-weight: 600;
}

h3 {
    font-size: var(--40-px);
    font-weight: 600; 
}

h4 {  /* card heading */
    font-size: var(--28-px);
    font-weight: 500; 
}

h5 {  
    font-size: var(--22-px);
    font-weight: 500; 
}

h6 {
    font-size: var(--20-px);
    color: white;
    font-weight: 500;
}

.h7 {
    
    font-size: var(--20-px);
    color: var(--emens-green);
    font-weight: 500;
}

a {
    text-decoration: none;
    color: var(--emens-green);
    font-weight: 500;
}

a:hover {
    color: var(--visual-green);
    font-weight: 500;
}

#contact {
    font-weight: 700;
}

/*header*/
header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: var(--header-height);
    font-size: var(--17-px);
    line-height: normal;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8)    ;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.navbar {
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header .left {
    margin-top: 2.75vh;
    font-size: var(--logo-font-size);
    font-weight: 600;
    margin-left: 3.64%;
}

header .right {
    margin-top: 4.28vh;
    margin-right: 5.16%;
}

header .right #nobutton {
    padding: 1.4vh 22.94%;
}

header li {
    list-style: none;
    display: inline-block;
    margin-left: 50px;
}

header .left a:hover {
    color: var(--emens-green);
    font-weight: 600;
}

header span {
    font-weight: 500;
    margin-left: 13px;
}

.navbar img {
    height: 4.5vh;
    width: auto;
    vertical-align: middle;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--emens-green);
}

@media(max-width: 935px) {
    header {
        border-bottom: 1px solid var(--emens-green);
        height: 4.5rem;
    }

    .navbar img {
        height: 3vh;
    }

    header span {
        font-size: smaller;
    }


    .hamburger {
        display: block;
        margin-right: 5.16%;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 4.5rem;
        padding-bottom: 1vh;
        gap: 0;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.8)    ; 
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        width: 100%;
        transition: 0.3s;
        border-bottom: 1px solid var(--emens-green);
    }


    .nav-item {
        margin: 1.69vh 0;
        margin-right: 60%;
    }

    .nav-menu.active {
        left: 0px;
    }

    .nav-link { 
        text-align: left;
    }
}


/*landing*/
#landing {
    padding-top: 10.18vh; 
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#landing .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#landing .content .image-container {
    float: right;
    width: 57.47%;
    height: auto;
}

#landing .content .content-header  {
    position: relative;
    left: 11.97%;
    width: 56.22%;
    height: auto;
}

#landing .about {
    width: 66.14%;
    height: auto;
    margin-top: 8.35vh;
    padding-top: 9.67vh;
    padding-bottom: 12.22vh;
    border-top: var(--emens-green) solid 1px;
    text-align: center;
}

@media(max-width: 935px) {
    #landing {
        padding-top: 5vh;
    }
    
    #landing .content .image-container {
        display: none;
    }
    
    #landing .content .content-header {
        position: static;
        width: 80%;
        height: auto;
    }

    #landing .content .content-header h1 {
        font-size: 65px;
    }
    
    #landing .about {
        width: 80%;
        height: auto;
    }

    #landing .about h5 {
        font-size: 20px;
    }
}


/*transparent*/
#transparent {
    padding-bottom: 14.26vh;
}

#transparent .content-header{
    margin-left: 11.97%;
    color: var(--nice-green);
}

#transparent .content-header span {
    color: var(--emens-green);
}

#transparent .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;
    padding-top: 8.15vh;
}

#transparent .content .card {
    width: 24.54%;
    height: auto;
    padding-left: 2.98%;
    border-left: var(--emens-green) solid 1px;
}

#transparent .content .card h4 {
    padding-bottom: 2.24vh;
}

@media(max-width: 935px) {
    #transparent .content-header {
        text-align: left;
    }

    #transparent .content-header h3{
        font-size: 33px;
    }

    #transparent .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: auto;
        padding-left: 8.5%;
    }
    
    #transparent .content .card {
        width: 100%;
        height: auto;
        padding-bottom: 5vh;
    }

    #transparent .content .card h4{
        font-size: 25px;
    }

    #transparent .content .card p{
        font-size: 17px;
    }
}

/*project*/
#mobile {
    display: none;
}

#project {
    display: flex;
    flex-direction: column;
}


#project .content {
    background-image: url(../imagesCom/projectBackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#project .content {
    padding-left: 11.97%;
    padding-top: 11.51vh;
    padding-bottom: 10.49vh;
}


#project .content #greenbutton {
    font-size: var(--17-px);
    font-weight: 600;
    background-color: var(--emens-green);
    color: white;
    border-radius: var(--10-px);
    text-align: center;
    padding: 1.4vh 1.98%;
    width: 80%;
    transition: all 250ms ease;
    border: 2px solid white;
}

#project .content #greenbutton:hover{
    background-color: white;
    color: var(--emens-green);
}

#project .content h2 {
    color: var(--emens-green);
    padding-top: 1.12vh;
    font-size: var(--50-px);
}

#project .content h6 {
    color: var(--emens-green);
}

#project .content h6 span {
    font-weight: 500;
    padding-bottom: 5.09vh;
}

#project .content h6 img {
    height: 3.56vh;
    width: auto;
    vertical-align: middle;
    margin-right: 0.73%;
}

#project .content p {
    color: var(--emens-green);
    width: 37.63%;
    height: auto;
    padding: 3.67vh 0px;
}

#project .content .buttons {
    padding-top: 5.09vh;
    margin-bottom: 10.49vh;
}

@media(max-width: 935px) {
    #project {
        display: none;
    }

    #mobile {
        display: block;
    }

    #mobile {
        display: flex;
        flex-direction: column;
    }
    
    
    #mobile .content {
        background-image: url(../imagesCom/projectMobile.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    #mobile .content {
        padding-left: 8.5%;
        padding-top: 10vh;
        padding-bottom: 0vh;
    }
    
    #mobile .content h2 {
        color: var(--emens-green);
        padding-top: 1.12vh;
        font-size: 40px;
        width: 80%;
    }
    
    #mobile .content h6 {
        color: var(--emens-green);
        font-size: 20px;
        width: 80%;
        justify-self: baseline;
    }
    
    #mobile .content h6 span {
        font-weight: 500;
        padding-bottom: 5.09vh;
    }
    
    #mobile .content h6 img {
        height: 3.56vh;
        width: auto;
        vertical-align: middle;
        margin-right: 3%;
    }
    
    #mobile .content p {
        color: var(--emens-green);
        width: 80%;
        height: auto;
        margin-top: 40vh;
        margin-bottom: 5vh;
        font-size: 17px;
    }
    
    #mobile .content .buttons {
        padding-top: 2vh;
        margin-bottom: 10vh;
    }

    #mobile .content .buttons a{
        display: block;
        text-align: center;
        margin-top: 2vh;
    }
}


/*about us*/
#about {
    padding-top: 10.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#about .content-header {
    width: 80%;
    height: auto;
}

#about .image-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 11.2vh 0;
}

#about .image-container .first {
    width: 25.46%;
    height: auto;
}

#about .image-container .second {
    width: 18.45%;
    height: auto;
}

#about .image-container .third {
    width: 26.32%;
    height: auto;
}

#about .image-container .fourth {
    width: 24.2%;
    height: auto;
}

#about .content-containier {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#about .content-containier .top {
    color: var(--dark-grey);
}

#about .content-containier .content {
    width: 52.71%;
    height: auto;
    border-left: var(--dark-grey) solid 2px;
}

#about .content-containier .content h5 {
    color: var(--dark-grey);
    padding-left: 4.89%;
}

@media(max-width: 935px) {
    #about {
        width: 80%;
        padding-left: 8.5%;
    }
    
    #about .content-header {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #about .content-header h3 {
        font-size: 20px;
        text-align: center;
    }
    
    #about .image-container {
        width: 80%;
        flex-direction: column;
    }
    
    #about .image-container .first {
        width: 100%;
        height: auto;
        padding-bottom: 5vh;
    }
    
    #about .image-container .second {
        width: 80%;
        height: auto;
        padding-bottom: 5vh;
    }
    
    #about .image-container .third {
        width: 100%;
        height: auto;
        padding-bottom: 5vh;
    }
    
    #about .image-container .fourth {
        width: 80%;
        height: auto;
    }
    
    #about .content-containier {
        flex-direction: column;
        width: 80%
    }
    
    #about .content-containier .top {
        color: var(--dark-grey);
        padding-bottom: 5vh;
    }

    #about .content-containier .top h3{
        font-size: 33px;
    }

    #about .content-containier .content h5{
        font-size: 20px;
    }

    #about .content-containier .content {
        width: 100%;
    }

}

/*footer*/
footer {
    width: 100%;
    height: auto;
    background-color: var(--emens-green);
    color: white; 
    margin-top: 22.71vh;
 }
 
 footer #top {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     position: relative;
     justify-items: center;
     padding-top: 14.26vh;
 }
 
 footer #top .column {
     padding-left: 14.79%;
     border-left: white solid 1px;
 }
 
 footer #top .column h6 {
     font-weight: 600;
     padding-bottom: 2.24vh;
 }
 
 footer #top .column p {
     margin: 1.43vh 0px;
 }
 
 footer #top .column a {
     color: white;
     font-size: var(--20-px);
 }
 
 footer #top .column p :hover {
     font-weight: 500;
 }
 
 footer #top .emens {
     border-left: var(--emens-green) solid 1px;
 }
 
 footer #top .emens p {
     font-size: var(--20-px);
     padding-top: 0.5vh;
 }
 
 footer #top .emens .languages {
     margin-top: 3.56vh;
 }

 footer #top .emens .languages a img {
    width: 20px;
    height: auto;
    padding-top: 2vh;
}

 
 footer #top .emens .logo span {
     font-weight: 600;
     font-size: 32.2px;
 }
 
 footer #top .emens img {
     width: auto;
     height: 4.5vh;
     vertical-align: middle;
     margin-right: 10px;
 }
 
 footer #top .column #tnc {
     color: var(--visual-green);
 }
 
 footer #bottom {
     position: relative;
     display: flex;
     justify-content: center;
     margin-top: 8.35vh;
     padding-bottom: 4.18vh;
 }

  @media(max-width: 935px) {
    footer {
        width: 100%;
        height: auto;
     }
     
     footer #top {
         display: flex;
         flex-direction: column;
         padding-top: 10vh;
     }
     
     footer #top .column {
         padding-left: 8.5%;
         border-left: var(--emens-green) solid 1px;
     }
     
     footer #top .column h6 {
        margin-top: 5vh; 
        font-size: smaller;
     }

     footer #top .column a {
        font-size: smaller; 
     }

     footer #top .languages p {
        font-size: smaller;
     }
}